{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <h1>Buy a stock</h1>
    <h2>You have {{cash | usd}} in Cash</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ticker" name="symbol" placeholder="SYMBOL" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="shares" type="number" value = 0>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}